*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  background-color: white;
}

html{
    font-family: Blanco,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
    font-size: clamp(12px,.8rem + .25vw,20px);
    font-weight: 400;
    line-height: 1.7;
}


/* BACK BUTTON AND MOVEMENT START */

#space{
  margin-top: 2px;
  font-size: 24px;
  font-weight: 500;
}
#space-top{
  margin-top: 2px;
}
p#space-top {
  margin-left: 10px;
  font-size: 24px;
  font-weight: 500;
}
.main{
    display: flex;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 24px;
    padding-top: 10px;
    align-items: flex-start;
    animation: span 5s ease-in infinite alternate;
    position: fixed;
    z-index: 1000;
}

.letter{
  display: inline-flex;
  height: 27px;
  width: 27px;
  margin-top: 5px;
  border: 3px solid darkorange; 

  border-radius: 14px;
  box-shadow:
    0 0 1px rgba(0, 0, 0, .75),
    inset 0 0 1px rgba(0, 0, 0, .45);
 animation: letter 5s ease-in-out infinite alternate;
}

@keyframes span {
  0%,30%{ margin: 0 10px;}
  70%,100%{ margin: 0 15px;}
}
@keyframes letter {
  0%,30%{ width: 27px; background: none; }
  70%,100%{ width: 60px; background: darkorange; box-shadow: none;}
}

/* BACK BUTTON AND MOVEMENT END */

h1{
  font-size: 36px;
      font-family: 'Montserrat', sans-serif;
      font-weight: 700;
}

h2{
  font-size: 21px;
      font-family: 'Montserrat', sans-serif;
      font-weight: 500;
}

p{
  font-size:16px;
        font-family: 'Montserrat', sans-serif;
      font-weight: 300;
}

#break-bot{
  padding-bottom: 1rem;
}


/* PAGE START */

.page-wrap{
    max-width: 100%;
    margin: 0 auto;
    padding: 2rem;
}


.opening-grid{
  display: grid;
  padding-top: 2rem;
  grid-template-columns: 1fr 150px;
  border-bottom: solid 3px #dedede;
  padding-bottom: 2rem;
}

.opening-logo{
  height: 150px;
}

.logo{
  width:100%;
  height: 100%;
  object-fit: contain;
}

.opening-img{
  padding: 2rem 0px 4rem;
  height: 100%;
  width: 100%;
}

#header-main{
    position: relative;
    z-index: 1;
}


.header-opening{
    position: relative;
    z-index: 1;
    overflow: hidden;
    padding: 0 0 3rem;
}

.header-grid{
    display: grid;
    grid-template-columns: 45% auto;
    grid-gap: 5rem;
}



.header-text{
}

.header-info-text{

}


.header-bread{
    margin: 1rem 3rem;
    max-width: 800px;
}


.header-img-holder{
    position: relative;
    z-index: 3;
}

.header-img{
  width:100%;
  height: 100%;
  object-fit: contain;
}

#contain{
  object-fit: contain;
}

.align-right{
  position: absolute;
  right: 2rem;
}

#refer-to{
  display: inline;
}






.content-grid{
    display: grid;
    grid-template-columns:40% 10% 10% 40%;
    grid-gap: 0rem;
}

.content-img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    padding-bottom: 3rem;
}

.content-img-holder-1{
      grid-column-start: 1;
      grid-column-end: 3;
}

.content-img-holder-2{
      grid-column-start: 2;
      grid-column-end: 5;
}

.content-img-holder-3{
      grid-column-start: 1;
      grid-column-end: 3;
}

.content-img-holder-4{
      grid-column-start: 2;
      grid-column-end: 5;
}



.content-img-holder-1-ex{
      grid-column-start: 1;
      height: 500px;
    }


.content-img-holder-2-ex{
      height: 1000px;
      grid-row-end: 3;
      grid-row-start: 1;
      grid-column-start: 2;
      grid-column-end: 5;
    } 

    .content-img-holder-3-ex{
      height: 500px;
      grid-column-start: 1;
      grid-row-start: 1;
    }



@media  (max-width: 800px)  {

  .header-grid{
    grid-template-columns: repeat(1, 1fr);
  }

  .opening-logo{
    height: 115px;
  }


.content-grid{
    grid-template-columns: repeat(1, 1fr);
  }
  .content-img-holder-1-ex{
      grid-column-start: 1;
      height: auto;
    }


.content-img-holder-2-ex{
      height: auto;
      grid-row-end: auto;
      grid-row-start: 2;
      grid-column-start: auto;
      grid-column-end: auto;
    } 

    .content-img-holder-3-ex{
      height: auto;
      grid-column-start: 1;
      grid-row-start: 3;
    }


}