

.color-change{
    filter: grayscale(100);
    transition: transform 500ms ease-out;

}


.round{
    position: absolute;
    height: 300px;
    width: 300px;
    z-index: 5;
}

.round:hover .color-change {
    filter: none;
    transition-duration: 1000ms;
}


.round:hover >   #segment-1{
    transform: translate(30%, -20%) rotate(-18deg);
    scale: 1.02;
    transition-duration: 1000ms;
}

.round:hover >   #segment-2{
    transform: translate(30%, -22%) rotate(-6deg);
    scale: 0.95;
    transition-duration: 1000ms;
}

.round:hover >   #segment-3{
    transform: translate(30%, 50px) rotate(-12deg);
    scale: 1.05;
    transition-duration: 1000ms;
}


.round:hover  >  #segment-4{
    transform: translate(-40%, 30px) rotate(-40deg);
    scale: 1.04;
    transition-duration: 1000ms;
}


.round:hover >   #segment-5{
    transform: translate(-20%, 100%) rotate(20deg);
    scale: 0.97;
    transition-duration: 1000ms;
}


.round:hover  >  #segment-6{
    transform: translate(10%, -50px) rotate(16deg);
    transition-duration: 1000ms;
}


.round:hover  .color-change {
    animation: float 5s ease infinite;
  }


@keyframes float {
    from, to {
      transform: translateY(-0%);
    }
    
    50% {    
      transform: translateY(-3%);
    }
  }

  #segment-1, #segment-2, #segment-3, #segment-4, #segment-5, #segment-6{
    transition: transform 500ms ease-out;
  }







.round-2{
    position: absolute;
    height: 300px;
    width: 300px;
    top: 130px;
    left: 150px;
}

.round-2:hover .color-change {
    filter: none;
    transition-duration: 1000ms;
}


.round-2:hover >   #segment-1{
    transform: translate(10%, -30%) rotate(-9deg);
    scale: 1.02;
    transition-duration: 1000ms;
}

.round-2:hover >   #segment-2{
    transform: translate(90%, 100px) rotate(40deg);
    scale: 0.95;
    transition-duration: 1000ms;
}

.round-2:hover >   #segment-3{
    transform: translate(20%, 60px) rotate(12deg);
    scale: 1.05;
    transition-duration: 1000ms;
}


.round-2:hover  >  #segment-4{
    transform: translate(-10%, 50px) rotate(10deg);
    scale: 1.04;
    transition-duration: 1000ms;
}


.round-2:hover >   #segment-5{
    transform: translate(-40%, -30px) rotate(5deg);
    scale: 0.97;
    transition-duration: 1000ms;
}


.round-2:hover  >  #segment-6{
    transform: translate(-5%, -80px) rotate(-5deg);
    transition-duration: 1000ms;
}

.round-2:hover  .color-change {
    animation: float 5s ease infinite;
  }




.header-container{
    position: relative;
    border: solid 1px;
    width: 453px;
    height: 433px;


}


#header-name-1{
    font-size: 300px;
    font-weight: 200;
    font-family: 'Montserrat';
    left: 25%;
    top: 9%;
    position: absolute;
    color: black;
    -webkit-text-fill-color: white; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

#header-name-2{
    font-size: 40px;
    font-weight: 300;
    font-family: 'Montserrat';
    position: absolute;
    color: #dddddd;
    top: 405px;
    padding: 0;
    margin-block-start: 0;
    margin-block-end: 0;
}



@media (max-width: 800px)  {
    .round {
        height: 150px;
        width: 150px;
        position: absolute;
    }
    .round-2{
        height: 150px;
        width: 150px;
        position: absolute;
        left: 70px;
        top: 60px;
    }


    .header-container{
        position: relative;
        border: solid 1px black;
        width: 222px;
        height: 212px;
    }

    #header-name-2{
        font-size: 30px;
        color: black;
        font-weight: 300;
        top: 215px;
        width: 236px;
        letter-spacing: 10px;
    }
}



